body {
  padding: 0px 5% 0px 5%;
}

h1 {
  text-align: center;
  color: #303845;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: #303845;
}

h3 {
  color: #47837f;
  font-size: 20px;
  padding-top: 60px;
}

header {
  background: linear-gradient(
    90deg,
    rgba(71, 131, 127, 1) 4%,
    rgba(192, 164, 164, 1) 48%,
    rgba(136, 116, 148, 1) 95%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #090a0a;
}

header img {
  border: 4px solid #47837f;
  width: 13%;
  transition: 1s;
  margin-top: 20px;
}

header img:hover {
  border-color: #303845;
}

section span {
  display: inline-block;
  color: #47837f;
  border: 1px solid #47837f;
  padding: 5px 8px;
  margin: 2px;
  border-radius: 8px;
  font-size: 1rem;
}

#navbar {
  margin: 0;
  padding-bottom: 13px;
  width: 100%;
  min-height: 30px;
  position: sticky;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 10px -2px #588d89;
  overflow: hidden;
  background-color: #578d8b;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #303845 !important;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto auto auto;
  width: 65%;
  justify-content: space-evenly;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
